.hero__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.btn-secondary {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--color-secondary); /* Assuming you have a secondary color defined */
  padding: 0.8rem 4rem;
  border-radius: 0.9rem;
  transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Smooth transition for hover effect */
}

.btn-secondary:hover {
  background-color: var(--color-secondary); /* Keep background color */
  color: #fe4d01; /* Change text color to a solid color */
  transform: translateY(-3px); /* Slight lift on hover */
}
