.leaderboard__area {
  padding: 4rem 0;
}

.leaderboard {
  text-align: center;
}

.leaderboard img {
  width: 100%;
  height: auto;
}

.leaderboard__btn {
  margin-top: 2rem;
}

.btn__round {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: var(--color-dark-secondary);
  background-image: url("/images/btn__bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s; /* Smooth transition for hover effect */
}

.btn__round:hover {
  color: linear-gradient(45deg, #fe4d01, #f4a77b); /* Gradient text color on hover */
  transform: translateY(-3px); /* Slight lift on hover */
}
