.leaderboard__area {
  padding: 3rem 0;
  text-align: center;
}
.leaderboard .container > img {
  width: 100%;
}
.leaderboard .container {
  position: relative;
}
.leaderboard__btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3rem; /* Adjusted to move the button up */
}
.leaderboard__btn .btn__round {
  font-size: 3.2rem;
  font-weight: 800;
  padding: 1.5rem 3rem; /* Adjusted for larger size */
  border-radius: 0.5rem; /* Adjusted for consistency */
  background-image: url("/images/btn__bg.png"); /* Added background */
  background-size: cover; /* Cover the entire button */
  background-repeat: no-repeat; /* No repeat */
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  transition: background 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

/* Hover effect for the button */
.leaderboard__btn .btn__round:hover {
  color: #fe4d01; /* Gradient text color on hover */
}
