.leaderboard__area {
  padding: 4rem 0;
}

.leaderboard {
  text-align: center;
}

.leaderboard img {
  width: 100%;
  height: auto;
}

.leaderboard__btn {
  margin-top: 2rem;
}

.btn__round {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: var(--color-dark-secondary);
  border-radius: 50px;
  text-decoration: none;
  transition: color 0.3s, background 0.3s, transform 0.3s; /* Smooth transition for hover effect */
}

.btn__round:hover {
  background: var(--color-dark-secondary); /* Keep background color */
  background: linear-gradient(45deg, #fe4d01, #f4a77b);
  color: #fff; /* Ensure text is still readable */
  transform: translateY(-3px); /* Slight lift on hover */
}
