.leaderboard__card--area {
  padding: 4rem 0;
}
.leaderboard__cards {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.leaderboard__card {
  width: 32rem;
  height: 37rem;
  background-image: url("/images/card-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  position: relative;
}
.leaderboard__card.middle {
  width: 37rem;
  height: 42rem;
  background-image: url("/images/card-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  position: relative;
}
.leaderboard__card.middle {
  margin-top: -3rem;
}
.leaderboard__card.middle .leaderboard__card--content {
  padding-top: 18rem;
}
.leaderboard__card.middle > img {
  width: 20rem;
}
.leaderboard__card .user,
.leaderboard__card .wagered {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.leaderboard__card .name {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.leaderboard__card .amount {
  font-size: 2rem;
  font-weight: bold;
}
.leaderboard__card .amount span {
  color: #f29f51;
}
.leaderboard__card .reward {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 1rem 0;
  margin-bottom: 2rem;
}
.leaderboard__card > img {
  position: absolute;
  width: 16rem;
  height: auto;
  left: 50%;
  top: -7rem;
  transform: translateX(-50%);
  height: auto;
}
.leaderboard__card--content {
  padding-top: 12rem;
}
.leaderboard__card--btn {
  background-image: url("/images/card-btn.png");
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 3.2rem;
  color: #f29f51;
  font-weight: 800;
  padding: 1rem 9rem;
}

/* leaderboard area  */
.leaderboard__area {
  padding: 10rem 0;
  color: #fff;
}
.leaderboard {
  text-align: center;
  padding-bottom: 10rem;
}
.leaderboard .title {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}
.leaderboard .subtitle {
  font-size: 1.8rem;
  text-transform: uppercase;
}
.times__remaining {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin: 2rem 0;
}
.times__remaining div {
  background-image: url("/images/num_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 9.7rem;
  width: 9.7rem;
}
.times__remaining div p {
  font-size: 1.2rem;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}
.times__remaining div p.num {
  font-size: 4.4rem;
  font-weight: bold;
}

/* challengers */
.challengers {
  position: relative;
  z-index: 1;
}
.challengers::before {
  position: absolute;
  top: -33%;
  left: 0;
  width: 100%;
  height: 45%;
  content: "";
  background-image: url("/images/leaderboardtable_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.challengers__title {
  text-align: center;
  background-image: url("/images/card-title.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 4.8rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 3rem;
  position: absolute;
  top: -18%;
  left: 50%;
  transform: translateX(-50%);
}
.challengers__header {
  display: flex;
  align-items: center;
  gap: 6rem;
  background-image: linear-gradient(to bottom, #005db2, #002344);
  padding: 1.5rem 10rem;
  outline: 2px solid #005db2;
  outline-offset: -0.5rem;
  border-radius: 0.5rem;
  border: 5px solid rgba(0, 0, 0, 0.8);
  border-bottom: 8px solid rgba(0, 0, 0, 0.8);
}
.challengers__header p {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
}
.challengers__header p:nth-child(3) {
  margin-left: auto;
}
.challengers__table {
  background-image: linear-gradient(to top, #005db2, #002344);
  margin: 0 3rem;
  padding: 3rem 4rem;
  border-radius: 0.5rem;
  border: 3px solid rgba(0, 0, 0, 0.8);
  border-bottom: 5px solid rgba(0, 0, 0, 0.8);
  border-top: none;
}
.challengers__item {
  display: flex;
  align-items: center;
  gap: 6rem;
  background-color: #001c36;
  padding: 1rem 3rem;
  border: 1px solid #005db2;
  margin-bottom: 1rem;
}
.challengers__item p {
  font-size: 1.6rem;
  font-weight: 600;
}
.challengers__item p:nth-child(2) {
  margin-left: 4.5rem;
}
.challengers__item p:nth-child(3) {
  margin-left: auto;
  margin-right: 2rem;
  text-align: center; /* Added */
}
.challengers__item .challengers__num {
  text-align: center; /* Added */
}
.leaderboard__area .container {
  overflow-x: auto;
}
.leaderboard__inner {
  width: 1140px;
}

/* past winners */
.past__winners {
  padding: 4rem 0;
  text-align: center;
}
.winners__title {
  font-size: 4.4rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 12rem;
}
.past__winner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.btn {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border: 4px solid #fff;
  display: inline-block;
  padding: 0.8rem 4rem;
  border-radius: 0.9rem;
  transition: background 0.3s, color 0.3s, transform 0.3s; /* Smooth transition for hover effect */
  border: 4px solid #fff;
  cursor: pointer;
}

.btn__primary {
  background: linear-gradient(
    90deg,
    var(--color-dark-tertiary) 0%,
    var(--color-dark-secondary) 100%
  );
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
/* Toggle Buttons for Leaderboards */
.leaderboard__toggle {
  text-align: center;
  margin: 2rem 0;
  position: relative; /* Change from absolute to relative */
  top: -5rem; /* Adjust as needed to position above the center num_bg */
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center the buttons */
  gap: 2rem; /* Add gap between buttons */
  z-index: 10; /* Ensure buttons are above the leaderboard__bg */
}

.leaderboard__toggle button {
  background-color: #005db2; /* Same background as Discord button */
  color: transparent; /* Remove default text color */
  border: none;
  padding: 4rem 12rem; /* Adjusted for double size */
  margin: 0 1rem;
  cursor: pointer;
  font-size: 6rem; /* Adjusted for double font size */
  text-transform: uppercase;
  transition: background-color 0.3s;
  border-radius: 4rem; /* Apply rounded corners */
  width: 40rem; /* Set a fixed width */
  height: 16rem; /* Set a fixed height */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11; /* Ensure buttons are above the leaderboard__bg */
  position: relative;
  overflow: hidden; /* Hide overflow */
}

.leaderboard__toggle img {
  width: 200%; /* 200% bigger */
  height: auto;
}

.leaderboard__toggle .packdraw img {
  width: 85%; /* Adjusted for 15% smaller size */
}

.leaderboard__toggle .csgobig img {
  width: 70%; /* Adjusted for 30% smaller size */
}

.leaderboard__toggle button:hover {
  background: linear-gradient(
    90deg,
    #fe4d01,
    #f4a77b
  ); /* Gradient hover effect */
}

.leaderboard__toggle button.active {
  filter: brightness(0.7); /* Darken the button further when active */
}

/* Ensure other responsive styles */
@media screen and (max-width: 768px) {
  .leaderboard__toggle {
    flex-direction: column; /* Stack buttons vertically on smaller screens */
  }

  .leaderboard__toggle button {
    padding: 2rem 6rem; /* Adjusted for double size in smaller screens */
    font-size: 4rem; /* Adjusted for double font size in smaller screens */
    width: 32rem; /* Adjusted width for smaller screens */
    height: 12rem; /* Adjusted height for smaller screens */
  }

  .leaderboard__toggle img {
    width: 200%; /* 200% bigger */
    height: auto;
  }

  .leaderboard__toggle .packdraw img {
    width: 85%; /* Adjusted for 15% smaller size */
  }

  .leaderboard__toggle .csgobig img {
    width: 70%; /* Adjusted for 30% smaller size */
  }
}
